* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font_stack;
}

.container {
    width: 920px;
    max-width: 100%;
    margin: auto;
}

section {
    padding-top: ($spacing*4);
}

.row {
    display: flex;

    img.small-img {
        width: 40%;
    }
    .col-6 {
        width: 50%;

        img.section-img {
            width: 100%;
        }
    }
    .col-4 {
        width: calc(100% / 3);

        img.section-img {
            width: 80%;
        }
    }
    .col-2 {
        width: calc(100% / 6);
    }
    
    
}

ul {
    @include reset-list;

    li {
        transition: background-color $transition_duration;
        
        &:hover {
            background-color: $secondary_color;

            a {
                color: white;
            }
        }

        a {
            @include reset-link;
            transition: background-color $transition_duration;
            
            font-size: $font_size/1.2;
            font-weight: 600;
        }
    }
}

button {
    @include align-item-center;
    background-color: transparent;
    border-radius: 5px;

    font-weight: 600;
    font-size: $font_size/1.2;
    border: 0;

    cursor: pointer;

    &.btn-primary {
        background-color: $btn_color;
        color: white;
        padding: 5px 15px;
        transition: background-color $transition_duration;

        &:hover {
            background-color: $secondary_color;
        }
    }
    &.btn-secondary {
        color: $primary_color;
        border: 2px solid $btn_color;
        transition: background-color $transition_duration;

        &:hover {
            background-color: lighten($btn_color, 40%);
        }        
    }
   
    // Logo img inside button
    img.logo-img {
        width: 20px;
        height: 20px;
    }
}

a {
    @include reset-link;
    display: inline-block;
    font-size: $font_size;
}

h1, h2, h3, h4, h5, h6,
p, span {
    color: $primary_color;
}

h1 {
    font-size: $font_size * 2;
    line-height: $line_height * 1.1;
}

h3 {
    font-size: $font_size*1.2;
}

h3.nospace-after {
    margin-bottom: 0;
}

h5 {
    font-size: $font_size;
}

p {
    font-size: $font_size;
    line-height: $line_height;
}

.highlight {
    font-weight: 700;
    color: $secondary_color;
} 

span.small-text,
p.small-text {
    font-size: $font_size/1.3;
}

.text-center {
    text-align: center;
}

.spacing-lr {
    margin: $spacing/2;
}

.divider {
    border-bottom: 1px solid $primary_color;
}