header {
    @include align-item-center;
    justify-content: space-between;

    padding: $spacing 0;

    border-bottom: 1px solid $primary_color;
}

.logo-container {
    min-width: 80px;
    max-width: 15%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    a {
        height: 100%;
    }
}

.nav-container {
    ul {
        @include align-item-center;
    }

    // sign in button header
    button {
        
        padding: 5px 10px;
        margin-left: $spacing/2;

        // logo Google
        img {

            margin-right: $spacing/3;
        }
    }
}