@mixin reset-list {
    margin: 0;
    list-style: none;
}

@mixin align-item-center {
    display: flex;
    align-items: center;
}

@mixin reset-link {
    text-decoration: none;
    color: $primary_color;
}
