// Colori principali usati
/* 
#0413b3 dark blue
#7f14d4 electric violet
#0e15ee blue
#3e14e9 persian blue
*/


$primary_color: #0413b3;
$secondary_color: #7f14d4;

$divider_color: #0e15ee;
$btn_color: #3e14e9;

// Spaziature
$spacing: 20px;


// FONT 
$font_stack: "Helvetica";
$font_size: 14px;

$line_height: 1.2;


// animazioni
$transition_duration: .3s; 

